2020/venv/
2020/03/advent03a
2020/04/picocli
*.class
*.jar
2020/09/advent09a
2020/09/advent09b
2020/13/*.py
*.exe
2020/17/advent17a/target/
2020/17/advent17a/Cargo.lock
2020/17/advent17b/target/
2020/17/advent17b/Cargo.lock
2021/.python-version
*input*.txt

# Clojure
.cpcache/
.nrepl-port
target/
*.log
.clj-kondo/.cache/
.lsp/.cache/
.calva/
.rebel_readline_history

# python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
